{% extends 'base.html' %}
{% block content %}

<div class="cover-container jumbotron d-flex align-items-center p-3 mx-auto bg-white text-black border rounded-3">
<div class="row justify-content-center">
  <div class="px-3">
      <h3 class="float-md-start mb-0">Geo-Web Mapping</h3>
  </div>

  <main class="px-3">
    <h1>ALEC KEANE</h1>
    <p class="lead">Location website to find your location using Geo Web Mapping</p>
    <p class="lead">
      <a href="{% url 'world' %}" class="btn btn-lg btn-secondary fw-bold border-white">Find Your Location</a>
    </p>
  </main>
</div>
</div>
{% endblock %}